/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
} 

.height-full {
  height: 100vh;
}

.bg {
  background-color: #00b3b3;
  color: #888;
}

.btns {
  background-color: #00b3b3;
  color: #00cc7a;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 15%;
  justify-content: center
}

.option {
  margin-bottom: 20%;
}
