<div class="container-fluid height-full bg">
  <h1>
      <font color="black">
        {{ this.message }}
      </font>
  </h1>
  <div class="btns">
    <div class="btn-default btn-lg option" layout-align="center">
      <nav>
        <a routerLink="/registration/user">Paciente</a>
      </nav>
    </div>
    <div class="btn-default btn-lg option" layout-align="center">
      <a routerLink="/registration/dev">Desarrollador</a>
    </div>
    <div class="btn-default btn-lg option" layout-align="center">
      <a routerLink="/registration/researcher">Investigador</a>
    </div>
  </div>
</div>

