<div class="bg container-fluid height-full">
  <div class="login-form">
      <form action="/examples/actions/confirmation.php" method="post">
      <div class="avatar">
          <i class="fas fa-use fa-7x"></i>
      </div>
      <h2 class="text-center">Login</h2> 
      <div [hidden]="userNotInSistemOrWrongPasswd" class="alert alert-danger">
        There is not email in sistem or password is not correct.
      </div>  
      <div class="form-group">
        <input type="email" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email" required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password" required="required">
      </div>
      <div [hidden]="goodUserPasswd" class="alert alert-danger">
          The password must have 8 characters (letters and numbers).
      </div>
      <div [hidden]="notFieldsEmpty" class="alert alert-danger">
          All the fields are required.
      </div>
      <div class="form-group">
          <button id="register-dev-button" (click)="login()" type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
      </div>
      <div class="clearfix">
              <!--<label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>-->
              <!--<a href="#" class="pull-right">Forgot Password?</a>-->
              <p class="text-center small">Don't have an account? <a href="registration">Sign up here!</a></p>
      </div>
      </form>
  </div>
</div>