<div class="container-fluid height-full bg" layout-align="center">
  <div class="login-form place">
    <form>
      <h2 class="text-center">
        <font color="black">Registro de desarrollador</font>
      </h2>
      <br>
      <div class="form-group">
        <input type="email" class="form-control" name="email" [(ngModel)]="developer.email" #email="ngModel" placeholder="Email" type="email" required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="developer.password" #password="ngModel" type="password" placeholder="Password" required="required">
      </div>
      <div [hidden]="goodPasswd" class="alert alert-danger">
        Las contraseñas deben tener minimo 8 carateres (letras y numeros).
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="passwordRep" [(ngModel)]="developer.passwordRep" #password="ngModel" type="password" placeholder="Password Repetition" required="required">
      </div>
      <div [hidden]="goodRepPasswd" class="alert alert-danger">
        Las contraseñas deben tener minimo 8 carateres (letras y numeros).
      </div>
      <div [hidden]="passEquals" class="alert alert-danger">
        Las constraseñas deben ser iguales.
      </div>
      <div [hidden]="fieldRequiredValidation" class="alert alert-danger">
        No puede haber campos vacios.
      </div>
      <div [hidden]="notNew" class="alert alert-danger">
        Ya existe un usuario en el sistema con ese email.
      </div>
      <button id="register-dev-button" (click)="clicked()" name="singlebutton" type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
    </form>
  </div>
</div>
