<div class="container-fluid height-full  bg" layout-align="center">
  <div class="login-form place">
      <form action="/examples/actions/confirmation.php" method="post">
      <h2 class="text-center">
        <font color="black">Registro de pacientes</font>
      </h2>
      <div class="form-group">
        <input type="email" class="form-control" name="email" [(ngModel)]="patient.email" placeholder="Email" required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="patient.password" placeholder="Password" required="required">
      </div>
      <div [hidden]="goodPasswd" class="alert alert-danger">
          The password must have 8 characters (letters and numbers).
      </div>
      <div class="form-group">
          <input type="password" class="form-control" name="passwordRep" [(ngModel)]="patient.passwordRep" placeholder="Repeat Password" required="required">
      </div>
      <div [hidden]="goodPasswd" class="alert alert-danger">
          The password must have 8 characters (letters and numbers).
        </div>
      <div class="form-group">
          <input type="text" class="form-control" name="region" [(ngModel)]="patient.region" placeholder="Region" required="required">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" name="contry" [(ngModel)]="patient.country" placeholder="Country" required="required">
      </div>
      <div class="form-group">
          <input type="number" class="form-control" value="65" name="age" [(ngModel)]="patient.age" required="required">
      </div>
      <div [hidden]="passEquals" class="alert alert-danger">
          The password must be equals.
      </div>
      <div [hidden]="fieldRequiredValidation" class="alert alert-danger">
          All the fields are required.
      </div>
      <div [hidden]="notUserInSystem" class="alert alert-danger">
          Ya existe un usuario en el sistema con ese email.
      </div>
      <div class="form-group">
          <button id="register-dev-button" (click)="clicked()" type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
      </div>
      </form>
  </div>
</div>