@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }

.buttondemoBasicUsage md-content {
  margin-right: 7px; }

.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }

.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.bg {

}
.publish {
  float: right;
  margin-right: 5%;
}

.option {
  margin-bottom: 5%;
}
.btns {
  background-color: #fff;
  color: #00cc7a;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  justify-content: center
}

.games {
  margin-top: 10%;
}

.game {
  margin-left: 30%;
  margin-right: 30%;
  background-color: #fff;
  color: #00cc7a;
  width: 40%;
  margin-top: 3%;
  margin-bottom: 3%;
  justify-content: center
}
.bg {
  background-color: #00b3b3;
  color: #fff;
}
