<div class="container-fluid bg height-full">
    <h2>
      <font color="black">
          Ejercicios
      </font>
    </h2>
    <div class="container" [hidden]="!isDev">
        <div class="row">
            <div class="col">
                <a routerLink="/publish" class="btn-default btn-lg option publish">Publicar</a>
            </div>
          </div>
    </div>
    <div >
      <ul class="gameList games">
          <li *ngFor="let game of gameList">
              <a href="{{game.link}}" class="btn btn-success game">{{ game.name }}</a>
              <span></span>
          </li>
      </ul>
    </div>
</div>

