<div class="container-fluid height-ful bg" layout-align="center">
  <div class="place">
    <div>
      <h1>
        Bienvenido {{ newDeveloper.email }}
      </h1>
    </div>
    <br>
    <br>
    <br>
    <div>
      <h2>
        Esta es la key necesaria para publicar juegos dentro de la plataforma, por favor, conservalá ya que es necesareia para la publicación de ejercicios.
      </h2>
    </div>
    <br>
    <div class="btnAll">
      <h2>
        KEY: {{ newDeveloper.key }}
      </h2>
    </div>
    <br>
    <div>
      <button (click)="clicked()" class="btn btn-primary btn-lg btnAll">Acceso a menu</button>
    </div>
  </div>
</div>
