.place {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 15%;
    width: 40%;
    margin-bottom: 60%;
  }

  .bg {
    background-color: #00b3b3;
    color: #000000;
  }

  .btnAll {
    margin-top: 15%;
  }
