<div class="container-fluid height-full  bg" layout-align="center">
  <div class="login-form place">
      <form action="/examples/actions/confirmation.php" method="post">
      <h2 class="text-center">
        <font color="black">Publicación de ejercicio</font>
      </h2>
      <div class="form-group">
        <input class="form-control" id="name-box" name="name" [(ngModel)]="game.name" #name="ngModel" type="text" required placeholder="Nombre"
        required>
      </div>
      <div class="form-group">
        <input class="form-control" id="link-box" name="url" [(ngModel)]="game.link" #link="ngModel" type="url" placeholder="Link"
          required>
      </div>
      <div class="form-group">
          <textarea type="text" class="form-control" name="description" [(ngModel)]="game.description" placeholder="Escriba una descripción" required="required"> Escriba una descripción</textarea>
      </div>
      <div class="form-group">
          <button id="register-dev-button" (click)="clicked()" type="submit" class="btn btn-primary btn-lg btn-block">Publicar</button>
      </div>
      </form>
  </div>
</div>