/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.height-full {
  height: 100vh;
}

.bg {
  background-color: #00b3b3;
}